body{
    background-color: rgb(179, 105, 14);
};

.proging {
height: 200px;
width: 300px;
}

.ts{
    width: 100px;
    height: 100px;
}

.p1{
color: blue;


}
.bn{
    height: 200px;
    width: 300px;
}
.p2{
    color: purple;
}